spring:
  application:
    name: SERVICE-CLIENT
  cloud:
    consul:
      host: localhost
      port: 8500
      discovery:
        enabled: true
        instance-id: ${spring.application.name}:${random.value}
        health-check-path: /actuator/health
        health-check-interval: 10s
  datasource:
    url: jdbc:mysql://localhost:3306/Micro_ClientDB?createDatabaseIfNotExist=true
    username: root
    password:
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

server:
  port: 8088

management:
  endpoints:
    web:
      exposure:
        include: health,info
